#head-title {
	border:2px solid;
    font-size: x5arge;
    text-decoration: none;
    padding-top: 60px;
	margin-top:20px;
    padding-left: 30px;
    font-family: Georgia,Times,serif;
    color: white;
	background-color:red
	
}
#hmenu {
    height: 55px;
    background-color: #8c384d;
    margin-top: -20px;
    width: 1002px;
	font-size:22px;
}
.link a:visited{
	color:white;
}
.link a:hover{
	color:black;
}